*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #121214;
    color: whitesmoke;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
header{
    padding: 1rem 0 0 0;
    position: sticky;
    top: 0;
    background-color: rgba(17, 23, 50, 0.972);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;
}
h1{
    font-size: 1.2rem;
}
button{
    padding: 6px 18px;
    border: none;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    
}
section{
    padding: 0 12px;
}
article{
    background-color: aliceblue;
    color: #000000;
    padding: 8px;
    margin-top: 12px;
    border-radius: 5px;
    display: flex;
}
img{
    width: 40%;
    border-radius: 8px;
    aspect-ratio: 1 / 1; /* Forces the image to always be a perfect square */
    object-fit: cover; 
}
.cardText{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    width: 60%;
}
h3{  
    font-size: 1rem;
    padding: 4px 0;
}
p{
    font-size: 0.8rem;
    margin: 4px 0;
}
.cardBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
.price{
    font-size: 1.2rem;
    display: block;
    margin: 6px 0;
    
}
.cardBtns>button{
    font-size: 1rem;
    background-color: aqua;
    font-weight: 800;
}